<footer class="footer">

    <div class="footer__div">
        <h3 class="footer__title ">Navigatie</h3>
        <ul class="footer__list">
            <li class="footer__listItem"><a class="footer__link" routerLink="/">Home</a></li>
            <li class="footer__listItem"><a class="footer__link" routerLink="/projecten">Projecten</a></li>
            <li class="footer__listItem"><a class="footer__link" href="#AboutMe">About me</a></li>
            <li class="footer__listItem"><a class="footer__link header__link--contact" routerLink="/Contact">Contact</a>
            </li>
        </ul>
    </div>

    <div class="footer__div">
        <h3 class="footer__title">Find me</h3>
        <ul class="footer__list">
            <li class="footer__listItem"><a class="footer__link" target="_blank" href="https://www.linkedin.com/in/dani%C3%ABl-d-17093a23b/"><i class="fa-brands fa-linkedin"></i>Linkedin</a></li>
            <li class="footer__listItem"><a class="footer__link" target="_blank" href="https://github.com/DDammers-MA"><i class="fa-brands fa-github"></i>Github</a></li>
        </ul>
    </div>

    <div class="footer__div">
        <h3 id="contact" class="footer__title">Contact</h3>
        <ul class="footer__list">
            <li class="footer__listItem"><a class="footer__link" href="tel:0610039069"> <i class="fa-solid fa-phone"></i>+31 6 10039060</a></li>
            <li class="footer__listItem"><a class="footer__link" href="mailto:Dammersdaniel@gmail.com"><i class="fa-solid fa-at"></i>Dammersdaniel&#64;gmail.com</a> </li>
        </ul>
    </div>
    
</footer>