    <h2 id="OverMij" class="main__secondArticleTitle">Over mij</h2>

    <div class="main__secondArticleContainer">


        <section class="main__secondArticleFirstSection">
            <ul class="main__secondArticleFirstSectionList">
                <li class="main__secondArticleFirstSectionListItem">
                    <span class="main_secondArtivleFirstSectionSpan">Naam:</span>
                    <span class="main_secondArtivleFirstSectionSpan2">Daniël Dammers</span>
                </li>
                <li class="main__secondArticleFirstSectionListItem">
                    <span class="main_secondArtivleFirstSectionSpan">Woonplaats:</span>
                    <span class="main_secondArtivleFirstSectionSpan2">Almere</span>
                </li>
                <li class="main__secondArticleFirstSectionListItem">
                    <span class="main_secondArtivleFirstSectionSpan">Email:</span>
                    <span class="main_secondArtivleFirstSectionSpan2">Dammmersdaniel&#64;gmail.com</span>
                </li>
                <li class="main__secondArticleFirstSectionListItem">
                    <span class="main_secondArtivleFirstSectionSpan">Telefoonnummer:</span>
                    <span class="main_secondArtivleFirstSectionSpan2">+31 6 10039069</span>
                </li>
            </ul>

            <p class="main__secondArticleFirstSectionText">
                Hallo, mijn naam is Daniel Dammers, en ik ben een student aan het Mediacollege Amsterdam voor de
                afgelopen 2,5 jaar. Ik heb gekozen voor de opleiding softwareontwikkelaar en specialiseer me vooral
                in front-end, omdat ik het leuker vind om websites op nieuwe en andere manieren te stylen/maken en
                elke keer een andere manier te vinden om iets leuks te maken.

                <br><br>

                Wat zou ik nog meer willen leren? Wat ik graag nog meer wil leren is back-end. Ik heb gezien wat je
                er allemaal mee kunt doen, en ik denk dat als ik mijn front-end en back-end zou kunnen combineren,
                ik hele gave websites kan maken.
            </p>


        </section>

        <section class="main__secondArticleSecondSection">
            <figure class="main__secondArticleSecondSectionFigure">
                <img class="main__secondArticleSecondSectionFigureImg" src="../../assets/img/foto Daniel (2).webp"
                    alt="">
            </figure>
        </section>


    </div>
