<header class="header">

    <nav class="header__nav">
        <ul class="header__navList">

            <li class="header__navListItem">
                <a class="header__navListItemLink" routerLink="">Home</a>
            </li>

            <li class="header__navListItem">
                <a class="header__navListItemLink" routerLink="">Over mij</a>
            </li>

            <li class="header__navListItem">
                <a class="header__navListItemLink" routerLink="/projecten">projecten</a>
            </li>

            <li class="header__navListItem">
                <a class="header__navListItemLink" href="">Contact</a>
            </li>
        </ul>
    </nav>

</header>


