<header class="header">
    
    <nav class="header__nav">
        <ul class="header__navList"  [class.active]="isMenuOpen" >

            <li class="header__navListItem"><a class="header__navListItemLink" routerLink="">Home</a></li>
            <li class="header__navListItem"><a class="header__navListItemLink" routerLink="/over-mij">Over mij</a></li>
            <li class="header__navListItem"> <a class="header__navListItemLink" routerLink="/projecten">projecten</a></li>
            <li class="header__navListItem"> <a class="header__navListItemLink" routerLink="/Contact">Contact</a></li>

        </ul>

        <div class="hamburger" (click)="toggleMenu()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

    </nav>

</header>


