.header{
    height: 15vh;
 

    &__nav{
        height: 100%;
    }

    &__navList{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        gap: 5rem;
        padding: 4rem;
      
    }

    &__navListItem{
        width: 8rem;
        
        :hover{
            color: crimson;
        }
    }

    &__navListItemLink{
        text-decoration: none;
        color: black;

      
    }
}