.main{
    height: 100vh;
   background: #eeee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__articleContact{
     
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    &__articleContactForm{
        height: 100%;

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }


    &__articleContactFormSubmit{
        height: 3rem;
        width: 10rem;
        background: black;
        color: white;
    }
}


