<main class="main">
    <article class="main__articleContact">

        

        <form class="main__articleContactForm" [formGroup]="form" (ngSubmit)="send()">
            <label>Name</label>
            <input type="text" name="user_name" formControlName="from_name">
        
            <label>Email</label>
            <input type="email" name="user_email" formControlName="from_email">
        
            <label>Phone Number</label>
            <input type="text" name="user_phone" formControlName="phone">
        
            <label>Subject</label>
            <input type="text" name="Subject" formControlName="subject">
        
            <label>Message</label>
            <textarea name="message" formControlName="message"></textarea>
        
            <input class="main__articleContactFormSubmit" type="submit" value="Send">
        </form>
        
        </article>
</main>


