.main{

    &__fourthArticleTitle {
        padding: 4rem;
        font-size: 200%;
    }


    &__fouthArticleListItem {

        min-height: auto;
        width: 30rem;
        border: 0.2rem solid black;
        border-radius: 0.5rem;
        margin-bottom: 4rem;

    }

    &__fouthArticleListItemText {
        padding: 1rem;
    }

    &__fourthArticleSlider {

        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__fourthArticleSliderSlide {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}