<h2 class="main__fourthArticleTitle">Projecten</h2>

<swiper-container class="main__fourthArticleSlider" pagination="bullets" [slidesPerView]="slidesPerView" loop="true" >


    <swiper-slide class="main__fourthArticleSliderSlide" *ngFor="let data of data" >
        
        <li class="main__fouthArticleListItem" >
            <img [src]="data.src" alt="">
            <span class="main__name">{{ data.Titel}}</span>
            <p class="main__fouthArticleListItemText">{{ data.text}}</p>
        </li>
    
    </swiper-slide>


  </swiper-container>

