<h2 class="main__fourthArticleTitle">Projecten</h2>

<swiper-container class="main__fourthArticleSlider" pagination="bullets" [slidesPerView]="slidesPerView" loop="true" >


    <swiper-slide class="main__fourthArticleSliderSlide" *ngFor="let data of data" >
        
        <li class="main__fouthArticleListItem" >
            <img [src]="data.src" alt="">
            <h3 class="main__name">{{ data.Titel}}</h3>
            <p class="main__fouthArticleListItemText">{{ data.text}}</p>


<div class="main__fourthArticleDiv">
    <a href="{{ data.github}}"><i class="fa-brands fa-github"></i></a>
    <a href="{{ data.live}}"><i class="fa-solid fa-globe"></i></a>
</div>
           

    </li>
    
    </swiper-slide>


  </swiper-container>

