
<h2 class="main__thirdArticleTitle">skills</h2>

<div class="main__thirdArticleDiv">

    <section class="main__thirdArticleLeftSection reveal reveal-left">

        <h3 class="main__thirdArticleSectionTitle">hard skills</h3>

        <p>HTML</p>
        <div class="main__thirdArticleContainer">
            <div class="main__thirdArticleContainerSkills main__thirdArticleContainerSkills--html">90%</div>
        </div>

        <p>css/scss</p>
        <div class="main__thirdArticleContainer">
            <div class="main__thirdArticleContainerSkills main__thirdArticleContainerSkills--css">80%</div>
        </div>

        <p>javascript</p>
        <div class="main__thirdArticleContainer">
            <div class="main__thirdArticleContainerSkills main__thirdArticleContainerSkills--js">50%</div>
        </div>

    </section>

    <section class="main__thirdArticleRightSection reveal reveal-right">
        <h3 class="main__thirdArticleSectionTitle">framework</h3>

        <p>Angular</p>
        <div class="main__thirdArticleContainer">
            <div class="main__thirdArticleContainerSkills main__thirdArticleContainerSkills--angular">30%</div>
        </div>

        <p>laravel</p>
        <div class="main__thirdArticleContainer">
            <div class="main__thirdArticleContainerSkills main__thirdArticleContainerSkills--laravel">20%</div>
        </div>

        <p>veu.js</p>
        <div class="main__thirdArticleContainer">
            <div class="main__thirdArticleContainerSkills main__thirdArticleContainerSkills--veuJS">10%</div>
        </div>

    </section>

</div>