.main{
 

    &__article{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    }

    &__firstSection{
        display: flex;
        align-items: center;
        justify-content: center;
     

    }
    &__firstSectionFigure{
padding: 4rem;
    }

    &__firstSectionFigureImg{
        height: 100%;
    }
    &__firstSectionFigureImgTitle{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 150%;
        color: white;
    }

    &__secondSection{
   
        display: flex;
        align-items: center;
        justify-content: center;
    
        flex-direction: column;
    }

    &__secondSectionText{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4rem;
        color: white;
    }

    &__secondArticleSkills{
        font-weight: 700;
        color: white;
    }

    &__secondSectionUl{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }
    

 &__secondSectionUlList{
    font-size: 2rem;
 }


}
i{
    font-size: 5rem;
}

@media screen and (max-width: 426px) {
.main{
    &__article{
        height: auto;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__firstSection{
height: auto;
    }

    &__firstSectionFigure{
       
        padding-top: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
         }

         &__firstSectionFigureImgTitle{
            font-size: 100%;
    
        }

    &__secondSection{
       
        text-align: center;
    }
    &__secondSectionText{
        text-align: center;
   
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1rem;
    }

    &__secondSectionUl{

        text-align: center;
    }
    

 &__secondSectionUlList{
    font-size: 2rem;
    text-align: center;
  
 }
}

}