.main__secondArticleSlider {
    display: flex;
    align-items: center;
    justify-content: center;
padding: 2rem;
    width: 100%;
    height: 100%;
  
    &__secondArticleSliderItem {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.2rem solid black;
      width: 100%;
      height: 100%;
    }
  
    &__secondArticleSliderContainer {
        display: flex;
        align-items: center;
        justify-content: center;
      width: 100%;
      height: 100%;
    }
  
    swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
      img {
        max-width: 40rem;
        max-height: 85%;
        
        border-radius: 0.5rem;
        object-fit: cover;
        box-shadow: 0.5rem 0.2rem 1rem 0.2rem rgba(0, 0, 0, 1);
      }
    }
  }
  