<swiper-container class="main__secondArticleSlider" slides-per-view="3" loop="true"  mousewheel-force-to-axis="true"  allowTouchMove="true" navigation="true">

    <swiper-slide class="main__secondArticleSliderItem">
      <img class="main__secondArticleSliderImg" src="../../assets/img/cookie.webp" alt="">
    </swiper-slide>

    <swiper-slide class="main__secondArticleSliderItem">
        <img class="main__secondArticleSliderImg" src="../../assets/img/cookie.webp" alt="">
      </swiper-slide>

      <swiper-slide class="main__secondArticleSliderItem">
        <img class="main__secondArticleSliderImg" src="../../assets/img/cookie.webp" alt="">
      </swiper-slide>

      <swiper-slide class="main__secondArticleSliderItem">
        <img class="main__secondArticleSliderImg" src="../../assets/img/cookie.webp" alt="">
      </swiper-slide>

      <swiper-slide class="main__secondArticleSliderItem">
        <img class="main__secondArticleSliderImg" src="../../assets/img/cookie.webp" alt="">
      </swiper-slide>

      <swiper-slide class="main__secondArticleSliderItem">
        <img class="main__secondArticleSliderImg" src="../../assets/img/cookie.webp" alt="">
      </swiper-slide>

  </swiper-container>
  