
.main {
    height: auto;

    &__firstArticle {
     
        height: 85vh;
        display: grid;
        grid-template-columns: 40% 60%;
    
        align-items: center;
        justify-content: center;
    }

    &__contactButton{
        background: #DA0037;
       padding: 1rem;
       color: #F5EDED;
    
        
        border-radius: 5rem;
        transition: all 0.2s;
        text-decoration: none;

        &:hover{
            cursor: pointer;
            background: #be0130;
            transform: scale(1.05);
            color: black;
        }

    }

    &__leftSection {
        height: 100%;
        padding: 2rem;

        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__firstArticleFigure {
        height: 25rem;
    }

    &__firstArticleFigureImg {
        height: 100%;
        border-radius: 50%;
        border: 0.2rem solid #444444;
    }



    &__rightSection {
        height: 100%;
        padding: 2rem;
        color: #F5EDED;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
   
        
    }

    &__rightSectionName {
        font-weight: 700;
    }

    &__rightSectionTyping {
        font-size: 3rem;
        font-weight: 600;
    }

    &__rightSectionIconList {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5rem;
        width: 100%;


    }

    &__rightSectionIconListItem {
        list-style: none;
        font-size: 4rem;


    }

    &__rightSectionIconListItemLink{
        text-decoration: none;
        color: #F5EDED;
        
        &:hover{
            color: #DA0037;
        }
    }

    &__secondArticle {
        height: auto;
        flex-direction: column;
        width: 100%;
        overflow-x: hidden;
    
    
    }

    
    &__thirdArticle {
        height: auto;
      background: black;
      color: #F5EDED;
      overflow-x: hidden;
    }

  

    &__fourthArticle {
        height: auto;
        background: linear-gradient(#F5EDED,90%, white);
        overflow-x: hidden;
    }

    &__callToAction{

        padding: 4rem;
        height: 15rem;
        background: #F5EDED;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
    }

    &__callToActionTitle{
        font-size: 200%;
    
    }
    &__callToActionSection{

        display: flex;
        align-items: center;
       justify-content: center;
    }

}



@media screen and (max-width: 769px) {


    .main {


        &__secondArticle {
         
            margin-bottom: 2rem;
        }


        &__rightSectionIconList {
            display: flex;
            align-items: center;
            justify-content: flex-start;

        }


    }


}


@media screen and (max-width: 426px) {

    .main {
        
        &__firstArticle {
            
            overflow-x: hidden;
            display: flex;
        
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 0.5rem;
        }

        &__firstArticleFigure {
            height: 20rem;
        }
    
        &__firstArticleFigureImg {
            height: 100%;
            border-radius: 50%;
            border: 0.2rem solid #444444;
        }

        &__rightSection {
            
            display: flex;
            justify-content: center;
            align-items: center;
          
       
            
        }
    

        &__rightSectionTyping {
            font-size: 1.8rem;
            font-weight: 600;
        }


        &__rightSectionIconList {
            display: flex;
            align-items: center;
            justify-content: center;


        }

        &__secondArticle {
            height: auto;
            margin-bottom: 2rem;
        }

    



    }

}

.reveal {
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.reveal-right {
    transform: translateX(150px);
  }
  
  .reveal-left {
    transform: translateX(-150px);
  }

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}