
<main class="main">

    <article class="main__firstArticle">

        <section class="main__leftSection">
            <figure class="main__firstArticleFigure">
                <img class="main__firstArticleFigureImg" src="../../assets/img/foto Daniel9.webp" alt="">
            </figure>
        </section>

        <section class="main__rightSection">
            <p>my name is Daniel Dammers</p>
            <h2 class="main__Typing"><span class="tw"></span><span class="tw3"></span></h2>
        </section>
  

    </article>

    <article class="main__secondArticle">

        <h2 class="main__secondArticleTitle">Uitgelicht projecten</h2>
        <app-slider></app-slider>


    </article>
  

    <article class="main__thirdArticle">

    </article>

</main>
