<main class="main">

    <article class="main__firstArticle">

        <section class="main__leftSection">
            <figure class="main__firstArticleFigure">
                <img class="main__firstArticleFigureImg" src="../../assets/img/foto Daniel9.webp" alt="">
            </figure>
        </section>

        <section class="main__rightSection">
            <p class="main__firstArticleName">my name is Daniel Dammers</p>
            <h2 class="main__rightSectionTyping"><span class="tw"></span> <span class="tw2"></span> <span #tw3></span></h2>

            <ul class="main__rightSectionIconList">
                <li class="main__rightSectionIconListItem"><i class="fa-brands fa-github"></i></li>
                <li class="main__rightSectionIconListItem"><i class="fa-brands fa-linkedin"></i></li>
            </ul>

        </section>

    </article>
    
    <svg class="main__svg" id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 190"
        version="1.1" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                <stop stop-color="rgba(23, 23, 23, 1)" offset="0%"></stop>
                <stop stop-color="rgba(23, 23, 23, 1)" offset="100%"></stop>
            </linearGradient>
        </defs>
        <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)"
            d="M0,133L720,171L1440,57L2160,19L2880,171L3600,38L4320,171L5040,0L5760,0L6480,133L7200,133L7920,133L8640,133L9360,19L10080,38L10800,76L11520,38L12240,38L12960,19L13680,19L14400,114L15120,114L15840,95L16560,152L17280,19L17280,190L16560,190L15840,190L15120,190L14400,190L13680,190L12960,190L12240,190L11520,190L10800,190L10080,190L9360,190L8640,190L7920,190L7200,190L6480,190L5760,190L5040,190L4320,190L3600,190L2880,190L2160,190L1440,190L720,190L0,190Z">
        </path>
    </svg>

    <article class="main__secondArticle">

    <app-over-mij></app-over-mij>

    </article>

    <article class="main__thirdArticle">

      <app-skills></app-skills>

    </article>

    <article class="main__fourthArticle">

        <app-projecten></app-projecten>
    
    </article>
    
</main>