<main class="main animate__animated">

    <article class="main__firstArticle " >

        <section class="main__leftSection">
            <figure class="main__firstArticleFigure">
                <img class="main__firstArticleFigureImg" src="../../assets/img/foto Daniel9.webp" alt="">
            </figure>
        </section>

        <section class="main__rightSection">
            <p class="main__firstArticleName">my name is Daniel Dammers</p>
            <h2 class="main__rightSectionTyping"><span class="tw"></span> <span class="tw2"></span> <span #tw3></span></h2>

            <ul class="main__rightSectionIconList">
                <li class="main__rightSectionIconListItem"><a class="main__rightSectionIconListItemLink" target="_blank" href="https://github.com/DDammers-MA"><i class="fa-brands fa-github"></i></a></li>
                <li class="main__rightSectionIconListItem"><a  class="main__rightSectionIconListItemLink" target="_blank" href="https://www.linkedin.com/in/dani%C3%ABl-d-17093a23b/"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>

            <a class="main__contactButton" routerLink="/Contact">Neem contact op</a>

        </section>

    </article>
    

    <article class="main__secondArticle reveal">

    <app-over-mij></app-over-mij>

    </article>

    <article class="main__callToAction reveal">

        <section class="main__callToActionSection">

            <h2 class="main__callToActionTitle">Download mijn CV</h2>
         
        </section>

        <section class="main__callToActionSection">
          
            <a class="main__contactButton main__contactButton--CTA " href="../../assets/img/CV Daniël Dammers.pdf" download="CV Daniël Dammers">Download CV</a>
        </section>
    

    </article>

    <article class="main__thirdArticle reveal">

      <app-skills></app-skills>

    </article>

    <article class="main__fourthArticle reveal">

        <app-projecten></app-projecten>
    
    </article>

    <article class="main__fifthArticle reveal">

     <app-contact></app-contact>
    
    </article>
    
</main>